.container {
    border: 1px solid black;
    padding: 20px;
    border-radius: 40px;
    width: 180px;
    text-align: left;
    cursor: pointer;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}
.title {
    margin: 0;
    padding: 0;
}
.date {
    font-size: 10px;
    margin: 0 auto;
}

.containerInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    font-size: 10px;
}

.counter {
    font-size: 30px;
}


.completed {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}