.container {
  border: 1px solid black;
  padding: 20px;
  border-radius: 40px;
  width: 200px;
  min-height: 180px;
  text-align: left;
  cursor: pointer;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  transition: 0.5s background-color ease;
}

.container:hover {
  background-color: var(--hover-color);
  color: var(--primary-color);
}

.title {
  margin: 0;
  padding: 0;
}
.date {
  font-size: 10px;
  margin: 0 auto;
}

.containerInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  font-size: 10px;
}
