.btnGeneric {
    border: 1px solid var(--secondary-color);
    color: var(--secondary-color);
    padding: 10px 80px;
    font-weight: 700;
    background-color: var(--primary-color);
}

.dark {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    background-color: var(--secondary-color);
}