.btnContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.container {
    margin: 0px left;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}
.contact {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 10px;
    margin-top: 30px;
    justify-content: space-between;
}
