@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@300;400;700&display=swap");
:root {
  --primary-color: #eaeaea;
  --secondary-color: #2e2d4d;
}

body {
  font-family: "Unbounded", cursive;
  margin: 0;
  padding: 0;
}
