.containerVideo {
  position: absolute;
  transform: rotate(10deg);
  top: 40px;
  right: -97px;
  z-index: -1;
}

@media (min-width: 768px) {
  .containerVideo {
    right: -300px;
  }
}

.iphoneImage {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 180px;
  aspect-ratio: 9/16;
  z-index: 1;
  pointer-events: none;

  box-shadow: 5px 7px 37px 5px rgb(101 105 154 / 37%);
  border-radius: 26px;
}

.video {
  position: absolute;
  width: 155px;
  aspect-ratio: 9/16;
  object-fit: cover;
  right: 11px;
  top: 22px;
}
