:root {
  --primary-color: #eaeaea;
  --secondary-color: #2e2d4d;
}

body {
  font-family: "Unbounded", cursive;
  margin: 0;
  padding: 0;
  background-color: var(--primary-color);
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

a:active,
a:visited {
  color: inherit;
}
